---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [101]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [102]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [103]:
import pandas as pd
import numpy as np
import re

def get_list_of_university_towns():
    UnTown = pd.read_csv('university_towns.txt', sep = '\n', header=None, squeeze = True, skipinitialspace=True)
    rename = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    rename = {val:key for (key,val) in rename.items()}
    town_in_state = {}

    for line in UnTown:
        if '[edit]'in line:
            state_name = line.replace('[edit]','')
        else:
            town_in_state[line] = state_name

    university_towns = (pd.Series(town_in_state, name = 'State')
                        .reset_index()
                        .set_index('State')
                        .reset_index()
                        .rename(columns={'index':'RegionName'}))

    #university_towns['RegionName'] = university_towns['RegionName'].apply(lambda x: re.sub(r'\d+|\([^()]*\)|\[[^()]*\]', '', x).strip(' '))
    university_towns['RegionName'] = university_towns['RegionName'].apply(lambda x: x.split(' (')[0].strip())

    return university_towns.sort_values('State')

get_list_of_university_towns()

             State                    RegionName
176        Alabama                      Florence
30         Alabama                        Auburn
275        Alabama                    Livingston
315        Alabama                    Montevallo
240        Alabama                  Jacksonville
470        Alabama                    Tuscaloosa
466        Alabama                          Troy
471        Alabama                      Tuskegee
160         Alaska                     Fairbanks
173        Arizona                     Flagstaff
458        Arizona                         Tempe
467        Arizona                        Tucson
317       Arkansas                    Monticello
245       Arkansas                     Jonesboro
23        Arkansas                   Arkadelphia
287       Arkansas                      Magnolia
114       Arkansas                        Conway
409       Arkansas                  Russellville
170       Arkansas                  Fayetteville
424       Arkansas                        Searcy
304     California                        Merced
382     California                        Pomona
371     California                     Palo Alto
360     California                        Orange
396     California                      Redlands
43      California                      Berkeley
127     California                         Davis
411     California                    Sacramento
118     California                        Cotati
498     California         Westwood, Los Angeles
..             ...                           ...
48        Virginia                    Blacksburg
273       Virginia                     Lexington
475     Washington  University District, Seattle
150     Washington                    Ellensburg
93      Washington                        Cheney
40      Washington                    Bellingham
392     Washington                       Pullman
26   West Virginia                        Athens
67   West Virginia                    Buckhannon
195  West Virginia                     Glenville
163  West Virginia                      Fairmont
429  West Virginia                 Shepherdstown
232  West Virginia                    Huntington
494  West Virginia                  West Liberty
320  West Virginia                    Morgantown
316  West Virginia                    Montgomery
146      Wisconsin                    Eau Claire
403      Wisconsin                   River Falls
449      Wisconsin                 Stevens Point
21       Wisconsin                      Appleton
378      Wisconsin                   Platteville
366      Wisconsin                       Oshkosh
303      Wisconsin                     Menomonie
286      Wisconsin                       Madison
204      Wisconsin                     Green Bay
499      Wisconsin                    Whitewater
487      Wisconsin                      Waukesha
310      Wisconsin                     Milwaukee
258      Wisconsin                     La Crosse
264        Wyoming                       Laramie

[517 rows x 2 columns]

In [104]:
def get_recession_start():
    GPD = pd.read_excel('gdplev.xls', header=[4])
    GPD = (GPD.drop([0,1])
              .drop(['Unnamed: 0','GDP in billions of current dollars','GDP in billions of chained 2009 dollars','Unnamed: 3','GDP in billions of current dollars.1', 'Unnamed: 7'], axis=1)
              .rename(columns={'Unnamed: 4': 'Year_quarter', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'}))

    GPD = (GPD.where(GPD['Year_quarter']>='2000q1')
              .dropna())

    GPD['for delta'] = GPD['GDP in billions of chained 2009 dollars'].shift(1)
    GPD['Delta'] = np.sign(GPD['GDP in billions of chained 2009 dollars'] - GPD['for delta'])

    res_start = GPD.where((GPD['Delta'] == GPD['Delta'].shift(-1)) & (GPD['Delta'] == -1)).dropna()['Year_quarter'].iloc[0]
    
    return res_start
get_recession_start()

#'''Returns the year and quarter of the recession start time as a 
 #   string value in a format such as 2005q3'''

'2008q3'

In [105]:
def get_recession_end():
    GPD = pd.read_excel('gdplev.xls', header=[4])
    GPD = (GPD.drop([0,1])
              .drop(['Unnamed: 0','GDP in billions of current dollars','GDP in billions of chained 2009 dollars','Unnamed: 3','GDP in billions of current dollars.1', 'Unnamed: 7'], axis=1)
              .rename(columns={'Unnamed: 4': 'Year_quarter', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'}))
    GPD = (GPD.where(GPD['Year_quarter']>='2000q1')
              .dropna())

    GPD['for delta'] = GPD['GDP in billions of chained 2009 dollars'].shift(1)
    GPD['Delta'] = np.sign(GPD['GDP in billions of chained 2009 dollars'] - GPD['for delta'])

    res_start = GPD.where((GPD['Delta'] == GPD['Delta'].shift(-1)) & (GPD['Delta'] == -1)).dropna()['Year_quarter'].iloc[0]
    res_end = GPD.where((GPD['Delta'] == GPD['Delta'].shift(-1)) & (GPD['Delta'] == 1) & (GPD['Year_quarter']>res_start)).dropna()['Year_quarter'].iloc[1]
           
    return res_end

get_recession_end()

#'''Returns the year and quarter of the recession end time as a 
 #   string value in a format such as 2005q3'''

'2009q4'

In [106]:
def get_recession_bottom():
    GPD = pd.read_excel('gdplev.xls', header=[4])
    GPD = (GPD.drop([0,1])
              .drop(['Unnamed: 0','GDP in billions of current dollars','GDP in billions of chained 2009 dollars','Unnamed: 3','GDP in billions of current dollars.1', 'Unnamed: 7'], axis=1)
              .rename(columns={'Unnamed: 4': 'Year_quarter', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'}))
    GPD = (GPD.where(GPD['Year_quarter']>='2000q1')
              .dropna())

    GPD['for delta'] = GPD['GDP in billions of chained 2009 dollars'].shift(1)
    GPD['Delta'] = np.sign(GPD['GDP in billions of chained 2009 dollars'] - GPD['for delta'])

    res_start = GPD.where((GPD['Delta'] == GPD['Delta'].shift(-1)) & (GPD['Delta'] == -1)).dropna()['Year_quarter'].iloc[0]
    res_end = GPD.where((GPD['Delta'] == GPD['Delta'].shift(-1)) & (GPD['Delta'] == 1) & (GPD['Year_quarter']>res_start)).dropna()['Year_quarter'].iloc[0]
    
    min_GPD = np.min(GPD[(GPD['Year_quarter']>=res_start) & (GPD['Year_quarter']<=res_end)]['GDP in billions of chained 2009 dollars'])
    rec_bottom = GPD[GPD['GDP in billions of chained 2009 dollars'] == min_GPD]['Year_quarter'].iloc[0]
    
    return rec_bottom

get_recession_bottom()

#'''Returns the year and quarter of the recession bottom time as a 
 #   string value in a format such as 2005q3'''

'2009q2'

In [107]:
def convert_housing_data_to_quarters():
    usecols=[i for i in range(51, 251)]
    usecols.extend([1,2])
    House = pd.read_csv('City_Zhvi_AllHomes.csv', usecols=usecols)
    House = House.sort_values('State')
    rename = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    House = (House.set_index(['State', 'RegionName'])
                 .rename(rename))
    House.columns = pd.to_datetime(House.columns)
    House = (House.resample('Q', axis=1).mean()
                  .rename(columns = lambda col: '{}q{}'.format(col.year, col.quarter)))
    
    return House

convert_housing_data_to_quarters()





#'''Converts the housing data to quarters and returns it as mean 
 #   values in a dataframe. This dataframe should be a dataframe with
  #  columns for 2000q1 through 2016q3, and should have a multi-index
#    in the shape of ["State","RegionName"].
    
#    Note: Quarters are defined in the assignment description, they are
#    not arbitrary three month periods.
    
 #   The resulting dataframe should have 67 columns, and 10,730 rows.
  #  '''

                                       2000q1         2000q2         2000q3  \
State         RegionName
Alaska        Kenai                       NaN            NaN            NaN
              Ketchikan                   NaN            NaN            NaN
              Anchor Point                NaN            NaN            NaN
              Anchorage         174633.333333  175266.666667  179566.666667
              Palmer            168766.666667  170566.666667  174233.333333
              Seward                      NaN            NaN            NaN
              Kodiak                      NaN            NaN            NaN
              Tanaina           160500.000000  163500.000000  166366.666667
              Lakes             172733.333333  174133.333333  177266.666667
              North Pole        157466.666667  159100.000000  162133.333333
              Homer                       NaN            NaN            NaN
              Soldotna                    NaN            NaN            NaN
              Juneau            192466.666667  194300.000000  195166.666667
              Fairbanks         163200.000000  165033.333333  169300.000000
Alabama       Birmingham         54033.333333   54400.000000   54966.666667
              Gurley                      NaN            NaN            NaN
              Fosters           107500.000000  110200.000000  111400.000000
              Hope Hull         111666.666667  111800.000000  112966.666667
              Lipscomb                    NaN            NaN            NaN
              Guntersville       92933.333333   93500.000000   93600.000000
              Meadowbrook       200500.000000  203000.000000  206800.000000
              Northport         125866.666667  126366.666667  126633.333333
              Morris            124066.666667  124500.000000  124233.333333
              Good Hope                   NaN            NaN            NaN
              Orange Beach      221633.333333  222133.333333  224033.333333
              Robertsdale        86833.333333   87666.666667   89000.000000
              Cottondale        100833.333333  102633.333333  104766.666667
              Titus                       NaN            NaN            NaN
              Leeds              93833.333333   94433.333333   95066.666667
              Homewood          158333.333333  159666.666667  161100.000000
...                                       ...            ...            ...
Wisconsin     Erin              208566.666667  209100.000000  209666.666667
West Virginia Nitro                       NaN            NaN            NaN
              Eskdale                     NaN            NaN            NaN
              Mineral Wells      75533.333333   77233.333333   81966.666667
              Cross Lanes        78133.333333   78066.666667   79233.333333
              Dunbar                      NaN            NaN            NaN
              Vienna             72266.666667   74533.333333   75333.333333
              Saint Albans       63833.333333   64700.000000   65200.000000
              South Charleston            NaN            NaN            NaN
              Parkersburg        54900.000000   55833.333333   56633.333333
              Chesapeake                  NaN            NaN            NaN
              East Bank                   NaN            NaN            NaN
              Belle              51066.666667   51300.000000   52200.000000
              Marmet                      NaN            NaN            NaN
              Upper Falls        53033.333333   52333.333333   52100.000000
              Waverly            62366.666667   62933.333333   65300.000000
              Sissonville        57200.000000   58200.000000   61200.000000
              Charleston         59533.333333   59366.666667   59366.666667
              Clendenin          39966.666667   38200.000000   40500.000000
              Washington         83900.000000   86033.333333   88333.333333
              Williamstown       82933.333333   85200.000000   86466.666667
              Davisville                  NaN            NaN            NaN
              Coal Fork                   NaN            NaN            NaN
              Elkview                     NaN            NaN            NaN
Wyoming       Burns             101533.333333  104566.666667  108366.666667
              Bar Nunn           93033.333333   89666.666667   88900.000000
              Evansville        128033.333333  128766.666667  130833.333333
              Cheyenne          116866.666667  120033.333333  121533.333333
              Casper             89233.333333   89600.000000   89733.333333
              Pine Bluffs        93733.333333   95066.666667   94633.333333

                                       2000q4         2001q1         2001q2  \
State         RegionName
Alaska        Kenai                       NaN            NaN            NaN
              Ketchikan                   NaN            NaN            NaN
              Anchor Point                NaN            NaN            NaN
              Anchorage         182833.333333  182766.666667  183933.333333
              Palmer            175533.333333  169466.666667  163233.333333
              Seward                      NaN            NaN            NaN
              Kodiak                      NaN            NaN            NaN
              Tanaina           168033.333333  158766.666667  149200.000000
              Lakes             179133.333333  172400.000000  166000.000000
              North Pole        165500.000000  159433.333333  149766.666667
              Homer                       NaN            NaN            NaN
              Soldotna                    NaN            NaN            NaN
              Juneau            194166.666667  197166.666667  199533.333333
              Fairbanks         172800.000000  164433.333333  157800.000000
Alabama       Birmingham         56066.666667   56833.333333   57600.000000
              Gurley                      NaN            NaN            NaN
              Fosters           115700.000000  114200.000000  113000.000000
              Hope Hull         114633.333333  115266.666667  112333.333333
              Lipscomb                    NaN            NaN            NaN
              Guntersville       93966.666667   94133.333333   94533.333333
              Meadowbrook       210500.000000  212033.333333  213866.666667
              Northport         126966.666667  128666.666667  130700.000000
              Morris            125800.000000  125566.666667  124966.666667
              Good Hope                   NaN            NaN            NaN
              Orange Beach      229233.333333  236300.000000  240366.666667
              Robertsdale        91100.000000   94366.666667   95766.666667
              Cottondale        105300.000000  106733.333333  109233.333333
              Titus                       NaN            NaN            NaN
              Leeds              96366.666667   98733.333333  101000.000000
              Homewood          164933.333333  167800.000000  169233.333333
...                                       ...            ...            ...
Wisconsin     Erin              214133.333333  225700.000000  236166.666667
West Virginia Nitro                       NaN            NaN            NaN
              Eskdale                     NaN            NaN            NaN
              Mineral Wells      85300.000000   86700.000000   87133.333333
              Cross Lanes        79466.666667   78800.000000   79366.666667
              Dunbar                      NaN            NaN            NaN
              Vienna             76533.333333   77400.000000   77366.666667
              Saint Albans       65900.000000   66366.666667   66466.666667
              South Charleston            NaN            NaN            NaN
              Parkersburg        56833.333333   57400.000000   57566.666667
              Chesapeake                  NaN            NaN            NaN
              East Bank                   NaN            NaN            NaN
              Belle              51166.666667   51266.666667   51966.666667
              Marmet                      NaN            NaN            NaN
              Upper Falls        50900.000000   50366.666667   49766.666667
              Waverly            66600.000000   67933.333333   69366.666667
              Sissonville        60700.000000   59000.000000   57133.333333
              Charleston         59633.333333   60400.000000   59866.666667
              Clendenin          39000.000000   42700.000000   42233.333333
              Washington         90466.666667   93500.000000   94933.333333
              Williamstown       87000.000000   86633.333333   86166.666667
              Davisville                  NaN            NaN            NaN
              Coal Fork                   NaN            NaN            NaN
              Elkview                     NaN            NaN            NaN
Wyoming       Burns             113000.000000  115833.333333  117200.000000
              Bar Nunn           93500.000000   98833.333333   99900.000000
              Evansville        132066.666667  130566.666667  131433.333333
              Cheyenne          123633.333333  125533.333333  126300.000000
              Casper             93166.666667   95500.000000   97633.333333
              Pine Bluffs        98066.666667  103233.333333  104600.000000

                                       2001q3         2001q4         2002q1  \
State         RegionName
Alaska        Kenai                       NaN            NaN            NaN
              Ketchikan                   NaN            NaN            NaN
              Anchor Point                NaN            NaN            NaN
              Anchorage         188566.666667  191866.666667  193966.666667
              Palmer            166933.333333  168933.333333  165300.000000
              Seward                      NaN            NaN            NaN
              Kodiak                      NaN            NaN            NaN
              Tanaina           150966.666667  151600.000000  153033.333333
              Lakes             169500.000000  170766.666667  168766.666667
              North Pole        151266.666667  151000.000000  150033.333333
              Homer                       NaN            NaN            NaN
              Soldotna                    NaN            NaN            NaN
              Juneau            202433.333333  206300.000000  209066.666667
              Fairbanks         158200.000000  154666.666667  152766.666667
Alabama       Birmingham         58433.333333   58700.000000   59500.000000
              Gurley                      NaN            NaN            NaN
              Fosters           109766.666667  110200.000000  111200.000000
              Hope Hull         113300.000000  113500.000000  114266.666667
              Lipscomb                    NaN            NaN            NaN
              Guntersville       92600.000000   94666.666667   98133.333333
              Meadowbrook       214833.333333  213500.000000  210300.000000
              Northport         130866.666667  132400.000000  133000.000000
              Morris            125700.000000  126966.666667  127300.000000
              Good Hope                   NaN            NaN            NaN
              Orange Beach      244100.000000  245800.000000  243333.333333
              Robertsdale        96066.666667   96766.666667   96400.000000
              Cottondale        109200.000000  109900.000000  109333.333333
              Titus                       NaN            NaN            NaN
              Leeds              99666.666667   99266.666667  100600.000000
              Homewood          170466.666667  172966.666667  175600.000000
...                                       ...            ...            ...
Wisconsin     Erin              247766.666667  245966.666667  246533.333333
West Virginia Nitro                       NaN            NaN            NaN
              Eskdale                     NaN            NaN            NaN
              Mineral Wells      83666.666667   81500.000000   82833.333333
              Cross Lanes        78100.000000   78766.666667   78733.333333
              Dunbar                      NaN            NaN            NaN
              Vienna             77966.666667   78900.000000   78233.333333
              Saint Albans       67266.666667   66100.000000   64600.000000
              South Charleston            NaN            NaN            NaN
              Parkersburg        57933.333333   58866.666667   59500.000000
              Chesapeake         40550.000000   40433.333333   39633.333333
              East Bank          39750.000000   41366.666667   43233.333333
              Belle              50166.666667   49333.333333   48666.666667
              Marmet             47800.000000   46800.000000   46533.333333
              Upper Falls        49700.000000   50500.000000   51433.333333
              Waverly            68566.666667   68166.666667   67366.666667
              Sissonville        53566.666667   53833.333333   53400.000000
              Charleston         61000.000000   60766.666667   59000.000000
              Clendenin          41700.000000   43800.000000   43433.333333
              Washington         93166.666667   90933.333333   91266.666667
              Williamstown       85300.000000   84400.000000   84133.333333
              Davisville                  NaN            NaN            NaN
              Coal Fork          43350.000000   43200.000000   43466.666667
              Elkview                     NaN            NaN            NaN
Wyoming       Burns             117800.000000  117633.333333  117333.333333
              Bar Nunn           99100.000000   98333.333333   98633.333333
              Evansville        132400.000000  133466.666667  133300.000000
              Cheyenne          126466.666667  128133.333333  128466.666667
              Casper             99433.333333  100633.333333  101733.333333
              Pine Bluffs       106500.000000  104066.666667  102233.333333

                                       2002q2    ...            2014q2  \
State         RegionName                         ...
Alaska        Kenai                       NaN    ...     199466.666667
              Ketchikan                   NaN    ...     196866.666667
              Anchor Point                NaN    ...     157800.000000
              Anchorage         196700.000000    ...     278200.000000
              Palmer            164800.000000    ...     225566.666667
              Seward                      NaN    ...     194600.000000
              Kodiak                      NaN    ...     256400.000000
              Tanaina           156100.000000    ...     208900.000000
              Lakes             169900.000000    ...     228200.000000
              North Pole        151866.666667    ...     199933.333333
              Homer                       NaN    ...     233033.333333
              Soldotna                    NaN    ...     210366.666667
              Juneau            209866.666667    ...     328266.666667
              Fairbanks         154533.333333    ...     209233.333333
Alabama       Birmingham         59866.666667    ...      61733.333333
              Gurley                      NaN    ...     141366.666667
              Fosters           111066.666667    ...     131366.666667
              Hope Hull         114200.000000    ...     129066.666667
              Lipscomb                    NaN    ...      50133.333333
              Guntersville       99833.333333    ...     133500.000000
              Meadowbrook       211733.333333    ...     251866.666667
              Northport         132666.666667    ...     159533.333333
              Morris            128066.666667    ...     151600.000000
              Good Hope                   NaN    ...      94933.333333
              Orange Beach      244600.000000    ...     326833.333333
              Robertsdale        97300.000000    ...     123866.666667
              Cottondale        107966.666667    ...     128500.000000
              Titus                       NaN    ...     131900.000000
              Leeds             101400.000000    ...     118000.000000
              Homewood          177766.666667    ...     257566.666667
...                                       ...    ...               ...
Wisconsin     Erin              247866.666667    ...     307900.000000
West Virginia Nitro                       NaN    ...      87366.666667
              Eskdale                     NaN    ...      69366.666667
              Mineral Wells      85033.333333    ...     116466.666667
              Cross Lanes        79100.000000    ...     123566.666667
              Dunbar                      NaN    ...      76566.666667
              Vienna             78933.333333    ...     101700.000000
              Saint Albans       63866.666667    ...      91133.333333
              South Charleston            NaN    ...     102266.666667
              Parkersburg        59366.666667    ...      79333.333333
              Chesapeake         38633.333333    ...      66400.000000
              East Bank          43333.333333    ...      69366.666667
              Belle              49633.333333    ...      72900.000000
              Marmet             46000.000000    ...      68366.666667
              Upper Falls        53500.000000    ...      91733.333333
              Waverly            67200.000000    ...      99933.333333
              Sissonville        55633.333333    ...      97633.333333
              Charleston         58333.333333    ...      95433.333333
              Clendenin          43833.333333    ...      82233.333333
              Washington         91000.000000    ...     126333.333333
              Williamstown       84833.333333    ...     122533.333333
              Davisville                  NaN    ...      65766.666667
              Coal Fork          43666.666667    ...      65933.333333
              Elkview                     NaN    ...      97433.333333
Wyoming       Burns             117233.333333    ...     168866.666667
              Bar Nunn          100866.666667    ...     199233.333333
              Evansville        131066.666667    ...     296733.333333
              Cheyenne          129633.333333    ...     177466.666667
              Casper            101533.333333    ...     175766.666667
              Pine Bluffs       103566.666667    ...     148666.666667

                                       2014q3         2014q4         2015q1  \
State         RegionName
Alaska        Kenai             197966.666667  194600.000000  198500.000000
              Ketchikan         197100.000000  197700.000000  198033.333333
              Anchor Point      158000.000000  155566.666667  154266.666667
              Anchorage         280766.666667  281700.000000  284166.666667
              Palmer            228766.666667  229366.666667  234466.666667
              Seward            190533.333333  186600.000000  186800.000000
              Kodiak            256966.666667  257933.333333  258566.666667
              Tanaina           211000.000000  212466.666667  215200.000000
              Lakes             233966.666667  236966.666667  239833.333333
              North Pole        199400.000000  197366.666667  199066.666667
              Homer             232900.000000  231066.666667  233500.000000
              Soldotna          209300.000000  207966.666667  213500.000000
              Juneau            331833.333333  333200.000000  335666.666667
              Fairbanks         207100.000000  207000.000000  207766.666667
Alabama       Birmingham         60900.000000   59533.333333   59900.000000

In [109]:
def run_ttest():
    res_before_start = '2008q2'
    res_bottom = get_recession_bottom()
    House_price = pd.DataFrame(convert_housing_data_to_quarters()[res_bottom]/convert_housing_data_to_quarters()[res_before_start])
    UT_data = get_list_of_university_towns()

    UT_data = UT_data.set_index(['State', 'RegionName'])
    
    UT_House_price = House_price.merge(UT_data, how='inner', left_index = True, right_index = True)
    NUT_House_price = House_price.drop(UT_House_price.index)

    Ttest_Result = ttest_ind(UT_House_price, NUT_House_price, nan_policy='omit')
    p = float(Ttest_Result[1].data)
    different = True if p<0.01 else False
    better = 'university town' if (float(UT_House_price.mean()) > float(NUT_House_price.mean())) else 'non-university town'
        
    return (different, p, better)


run_ttest()

(True, 0.0033629228768433245, 'university town')